extends layout

block content
	form
		input(type="file" name="photo" accept="image/*" id="upload")
		input(type="submit" value="Submit")
		input(type="text" name="username")
	button(type="button" class="crop") Crop
	button(type="button" class="add") Add
	button(type="button" class="search") Search
	.container
		.crop-image
			p.crop-image__title Uppload Image
			.crop-image__wrapper
			.crop-image__result
