extends layout

block content
	form(action="/detect" method="post" enctype="multipart/form-data" name="photo")
		input(type="file" name="photo" accept="image/*")
		input(type="submit" value="Upload photo")
	button(type="button" class="add") Add
	.container
