extends layout

block content
	.container
		.columns
			.column.is-half.is-offset-one-quarter
				section.hero
					.hero-body
						.container
							h1.title
								| Face Recognition
							h2.subtitle
								| by Gornyy Vladimir
				.controls.space
					.field
						.control
							input(type="file" name="photo" accept="image/*" id="upload")
					.field
						label(class="label") Name
						.control		
							input(type="text" name="username" class="input" id="username")
					.field.is-grouped
						.control
							button.button.is-primary.detect
								span.icon.is-small
									i.fas.fa-cogs
								span Detect							
						.control
							button.button.is-link.search
								span.icon.is-small
									i.fas.fa-search
								span Search	
						.control
							button.button.is-success.add
								span.icon.is-small
									i.fas.fa-plus
								span Add	
				.card
					.card-image
						.crop-image
							.crop-image-title
								.notification.is-link.has-text-centered
									| Please upload image
							.crop-image-croppie
							.crop-image-wrapper.is-horizontal-center
								span Detection image
								.crop-image-result
						.search-wrapper.is-horizontal-center.hidden
							span Image from database
							.search-result
					.card-content
						.content
							.controls
								.field.is-grouped.is-grouped-centered
									.control					
										button.button.is-primary.rotate(data-deg="-90")
											span.icon.is-small
												i.fas.fa-undo
											span Rotate Left
									.control		
										button.button.is-danger.crop
											span.icon.is-small
												i.fas.fa-crop
											span Crop
									.control		
										button.button.is-primary.rotate(data-deg="90")
											span Rotate Right
											span.icon.is-small
												i.fas.fa-redo
