.space {
	padding-bottom: 1.5rem;
}

.hero-body {
	padding-left: 0;
}

/*.container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}*/

/*.crop-image__wrapper {
	display: none;
}

.ready .crop-image__title {
	display: none;
}

.ready .crop-image__wrapper {
	display: block;
}*/

.crop-image__wrapper {
	height: 600px;
}

.crop-image__result {
	position: relative;
}

.face-rectangle {
	position: absolute;
	border: 2px solid red;
	color: #ffffff;
}