.space {
	padding-bottom: 1.5rem;
}

.hero-body {
	padding-left: 0;
}

/*.container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}*/

/*.crop-image__wrapper {
	display: none;
}

.ready .crop-image__title {
	display: none;
}*/
.crop-image-result {
	position: relative;
	/*display: none;*/
	/*padding-top: 1.5rem;*/
}

.search-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.crop-image-result img {
	display: block;
}

.search-result img {
	display: block;
}

.crop-image-wrapper {
	display: none;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	flex-direction: column;
	align-items: center;
}

.result .crop-image-wrapper {
	display: flex;
}

.crop-image-croppie {
	display: none;
}

.ready .crop-image-croppie {
	display: block;
}

.result .crop-image-croppie {
	display: none;
}

.crop-image-title {
	padding: 1.5rem;
}

.ready .crop-image-title {
	display: none;
}

.result .crop-image-title {
	display: none;
}

.crop-image-croppie {
	height: 600px;
}

.crop-image__result {
	position: relative;
}

.face-rectangle {
	position: absolute;
	border: 2px solid red;
	color: #ffffff;
}

.is-horizontal-center {
	justify-content: center;
}

.hidden {
	display: none;
}